
.acosta__header {
	font-family: Century Gothic;
	display: flex;
	align-content: center;
	justify-content: space-between;
	padding: 2rem 5rem;
}

.acosta__header-menu {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.acosta__header-menu a, 
.acosta__header-menu button {
	margin: 0 2rem;
	cursor: pointer;
	letter-spacing: 1.4px;
	color: #000000;
	font-size: 14px;
	text-decoration: none;
	transition: color 0.1s, background-color 0.1s;

}

.acosta__header-menu a {
	position: relative;
    padding: 16px 0;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000; 
}
	

.acosta__header-menu a:hover {
	color: #999;
    text-decoration: none;
}

.acosta__header-menu a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

.acosta__header-menu a:active::before {
    background-color: #000;
}
.acosta__header-menu a:hover::before, .acosta__header-menu a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
.acosta__header-specialmenu {
	display: flex;
	align-items: center;
}

.acosta__header-specialmenu a {
	width: 2.5rem;
    line-height: 2rem;
	border-radius: 50%;
	cursor: pointer;
	background-color: #E1EEF4;
	font-size: 14px;
	text-decoration: underline;
	text-align: center;
	padding: .65rem .5rem;
	border: 1px solid #FFFFFF;
}

.acosta__header-specialmenu a:hover {
	border: 1px solid #89CFF0;
}


.acosta__header-menu button {
	padding: 1.25rem 2.5rem;
	background-color: #FFFFFF;
}
.acosta__header-menu button:hover {
	background-color: #E1EEF4;
	border-color: #89CFF0;
}

.acosta__logo img {
	width: 219px;
	height: 83px;
}