.top-body {
	background-color: #E1EEF4;
	color: black;
	font-family: Century Gothic;
	text-align: center;
	height: 208px;
}

h1 {
	padding-top: 40px;
	padding-bottom: 0;
	font-size: 70px;
}

.top-body-span {
	margin-top:-2%;
	color: gray;
}
.bottompart-body {
	background-color: #E1EEF4;
	color: red;
	font-family: Century Gothic;
	text-align: center;
	height: 606px;
	font-size: 40px;
	display: flex;
    align-items: center;
    justify-content: center
}


.header {
	width: 100%;
}

div.menu {
	text-align: right;
	font-size: 14px;
	margin-top: -4.5%;
	padding-left: 52px;
}

a.menu {
	padding: 42px;
	text-decoration: none;
	color: black;
	font-family: Century Gothic;
}

a.menu:hover{
	border-bottom: 2.5px solid black;
	padding-bottom: 5px;
}

a.special_menu:hover{
	background-color: #E1EEF4;
	border-radius: 50%;
	width: 34px;
  	height: 34px;
  	padding: 15px;
  	font-weight: bold;
  	text-decoration: underline;
}

a.special_menu {
	background-color: #E1EEF4;
	border-radius: 50%;
	width: 34px;
  	height: 34px;
  	padding: 15px;
  	font-weight: bold;
  	text-decoration: underline;
}

button.menu{
	background-color: white;
	font-size: 14px;
	font-family: Century Gothic;
	width: 165px;
	height: 53px;
	margin-left: 42px;
	margin-right: 42px;
}

button.menu:hover{
	background-color: #E1EEF4;
	color: black;
}

.logo {
	margin: 2%;
}

.page-logo {
	height: 83px;
	width: 219px;
	margin: 2%;
}

.body1 {
	width: 1198px;
	height: 576px;
	padding: 50px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.middle-body {
	width: 874px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.buttonbody {
	background-color: white;
	font-size: 14px;
	font-family: Century Gothic;
	width: 165px;
	height: 53px;
}

.buttonbody:hover{
	background-color: #E1EEF4;
	color: black;
}

h2 {
	font-size: 52px;
	font-family: Century Gothic;
}

.h2-paragraph {
	font-size: 15px;
	font-family: Century Gothic;
	margin-top: -3%;
	margin-bottom: 3%;
}

.h3-paragraph {
	font-size: 15px;
	font-family: Century Gothic;
}

.h3-body {
	margin-left: 17%;
	background-color: #E1EEF4;
	height: 400px;
	text-align: justify;
	padding:40px;
	margin-right:40px;
	width: 577px;
}

.bottom-body {
	display: flex;
    align-items: center;
    justify-content: center

}

.h3-img {
	margin-right:17%;
}

.body2 {
   	width: 577px;
	height: 480px;
}

h3 {
	font-size: 40px;
	font-family: Century Gothic;
}

.under-body {

}